@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Work+Sans:wght@200;300;500&display=swap');

/* SCSS RGB */
$black-coral: rgba(131, 150, 201, 0.7);
$electric-blue: rgba(0, 232, 252, .7);
$outrageous-orange: rgba(249, 110, 70, .8);
$maize-crayola: rgba(249, 200, 70, .7);
$misty-rose: rgba(251, 99, 118, .7);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #545863ff, #00e8fcff, #f96e46ff, #f9c846ff, #ffe3e3ff);
$gradient-right: linear-gradient(90deg, #545863ff, #00e8fcff, #f96e46ff, #f9c846ff, #ffe3e3ff);
$gradient-bottom: linear-gradient(180deg, #545863ff, #00e8fcff, #f96e46ff, #f9c846ff, #ffe3e3ff);
$gradient-left: linear-gradient(270deg, #545863ff, #00e8fcff, #f96e46ff, #f9c846ff, #ffe3e3ff);
$gradient-top-right: linear-gradient(45deg, #545863ff, #00e8fcff, #f96e46ff, #f9c846ff, #ffe3e3ff);
$gradient-bottom-right: linear-gradient(135deg, #545863ff, #00e8fcff, #f96e46ff, #f9c846ff, #ffe3e3ff);
$gradient-top-left: linear-gradient(225deg, #545863ff, #00e8fcff, #f96e46ff, #f9c846ff, #ffe3e3ff);
$gradient-bottom-left: linear-gradient(315deg, #545863ff, #00e8fcff, #f96e46ff, #f9c846ff, #ffe3e3ff);
$gradient-radial: radial-gradient(#545863ff, #00e8fcff, #f96e46ff, #f9c846ff, #ffe3e3ff);

@mixin style-div($color, $i){
    div.task-column:nth-child(#{$i}){
        background-image: linear-gradient($color, $color) , url("f-removebg-preview.png");

        input{ background-color: darken($color, 5%) ;}

        .delete { color: darken($color, 15%) ; cursor: pointer;}

        .body::-webkit-scrollbar{ width: 10px; }
        .body::-webkit-scrollbar-track{ background-color: darken($color, 15%); border-radius: 50px; }
        .body::-webkit-scrollbar-thumb{ background: rgba(0, 0, 0, .3); border-radius: 50px; }
    }
}

@mixin state-infos($color){
    .state-text{ color: $color;}
    .state-icon{ 
        font-size: 15px;
        display: inline;
        color: $color;
    }
    span:nth-child(2){
        text-align: start;
    }
}

@keyframes slidein {
    from {
        left: 25%;
        top: 25%;
    }
  
    to {
        top: 50%;
        left: 50%;
    }
}

@keyframes header-entry {
    from {  height: 5vh; }
    to   { height: 13vh; }
}

@keyframes header-closing {
    from { height: 13vh; }

    to   { height: 5vh;  }
}

@keyframes appear {
    0%   { opacity: 0;  }
    75%  { opacity: .6; }
    100% { opacity: 1;  }
}

@keyframes disappear {
    0%   { opacity: 1;  }
    25%  { opacity: .8; }
    50%  { opacity: .6; }
    75%  { opacity: .4; }
    100% { opacity: 0;  }
}

@keyframes bounce {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.05); }
    50% { transform: scale(1.05, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}

.red{ border: 2px solid red; }
.green{ border: 2px solid green; }
.appearDisplay{ display: flex; }
.appearOpacity{ opacity: 1; }

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
}

.column-id{
    display: none;
}

.show{ display: flex; visibility: visible; }
.hide{ display: none; visibility: hidden;}

header{
    background: $gradient-top-left;
    height: 13vh;
    margin-bottom: 1.5%;
    padding: 0% 1%;
    animation: header-entry 1s;
    transition: all;

    .arrow-down{
        visibility: hidden;
        display: inline-block;
        text-align: end;
        cursor: pointer;
    }

    h1{
        display: inline-block;
        text-align: center;
        width: 98%;
    }
    .add-task:hover, .add-column:hover{
        background:  rgba(0, 0, 0, .1);
    }

    div{ 
        padding: .2%;
        animation: appear 2s;
        display: flex;
        align-items: center;
        border-radius: 15px;
        cursor: pointer;

        span:nth-child(1){
            margin-left: 20px;
        }
    }

    div.close{
        display: flex;
        padding-bottom: 0;
        justify-content: flex-end;
    }

    &.close{
        div{
            display: none;
        }
        animation: header-closing 3s;
        height: 5vh;
        .arrow-down{
            visibility: visible;
            transition-delay: 1.8s;
        }
    }

    .infos{
        display: flex;
        justify-content: space-between;
        button{
            background-color: transparent;
            border-radius: 5px;
            border: 1px solid black;
            padding: 0 1em;
            cursor: pointer;
        }
    }
    
}

section{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    @include style-div($outrageous-orange, 1);
    @include style-div($electric-blue, 2);
    @include style-div($maize-crayola, 3);
    @include style-div($misty-rose, 4);
    @include style-div($black-coral, 5); 

    .task-column{
        background-size: contain;
        background-repeat:no-repeat;
        overflow: hidden;
        background-position: 0;
        height: 750px;
        width: 320px;
        position: relative;
        animation-name: bounce;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);     
        
        .head{
            height: 4%;
            input{
                width: 100%;
                text-align: center;
                position: relative;
                padding: 2%;
                border: none;
                font-weight: bold;
                font-size: 15px;
                &:focus{
                    outline: black dashed 2px;
                }
            }
        }

        .body{  
            height: 92%;
            overflow-y: auto;
            overflow-x: hidden;
            .description{
                display: flex;
                border: 1px solid rgba(0, 0, 0, .3);
                width: 100%;
                border-radius: 5px;
                margin-bottom: 1%;
                animation: bounce 1s ;
                span:nth-child(2){
                    min-width: 80%;
                    max-width: 80%;
                    text-align: center;
                    word-wrap: break-word;
                    cursor: default;
                }

                .left, .right{
                    padding: 0 1%;
                    width: 10%;
                    color: rgba(0, 0, 0, .7);
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    &:hover{
                        background-color: rgba(0, 0, 0, .05);
                    }
                }
                &:hover{
                    .delete-task{
                        opacity: 1;
                    }
                }
            }

            .restore{
                visibility: hidden;
            }

            .infos{
                display: none;
                flex-direction: column;
                margin: auto;
                width: 80%;
                background-color: rgb(255, 255, 255);
                animation: appear 1s;
               
                p{
                    width: 90%;
                    margin: auto;
                    display: flex;
                    justify-content: space-between;
                }
            }

            .description.over{
                background-color: rgb(185, 179, 179);
                span{
                    cursor: not-allowed;
                    &:hover{
                        background-color: transparent;
                    }
                }
                .left, .right{
                    visibility: hidden;
                }
                @include state-infos(red);   
                .delete-task{ display: none; }        
            }

            .description.ongoing{
                @include state-infos(green);           
            }

            .description.upcoming{
                @include state-infos(red);           
            }

            .description.show-left-icon{
                .left{ visibility: visible;}
                .right{ visibility: hidden;}
            }

            .description.show-right-icon{
                .left{ visibility: hidden;}
                .right{ visibility: visible;}
            }

            .description.show-right-and-left-icon{
                .left{ visibility: visible;}
                .right{ visibility: visible;}
            }

            .description.do-not-show-right-and-left-icon{
                .left{ visibility: hidden;}
                .right{ visibility: hidden;}
            }

            .delete-task{
                font-size: 15px;
                cursor: pointer;
                color: rgba(255, 0, 0, 0.863);
                opacity: 0;
            }          
        }

        .footer{
            height: 4%;
            opacity: 1;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }
    }

    .task-column:last-child .body .description .right{
        visibility: hidden;
    }
    .task-column:first-child .body .description .left{
        visibility: hidden;
    }
}

.modal-container{
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 7;

    .modal{
        background-color: white;
        animation: slidein 1s;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 100%;
        width: 400px;
    
        .modal-header{
            background: $gradient-bottom-right;
            color:#fff;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            svg{
                cursor: pointer;
            }
        }  
    
        .modal-content{
            padding: 20px;
        }
    
        .modal-form{
            div{
                margin: 15px 0;
            }
        
            label{
                display: block; /*affiche que ca sur la ligne = br rek*/
                margin-bottom: 5px;
            }
    
            .form-input{
                padding: 8px;
                width: 100%;
                outline: none;
            }      
    
            input[type="button"]{
            background: $gradient-bottom-right;
            padding: .6em;
            border-radius: 10px;
            color: white;
            font-size: 1em;
            font-weight: bold;
            border: none;
            outline: none;
            cursor: pointer;
                &:disabled{
                    cursor: not-allowed;
                    background: rgba(128, 128, 128, 0.651) ;
                    color: gray;
                }
            }
    
            textarea{
                resize: none;
            }
        }
    }
        
    .edit-btn{ display: none;}

    &.edit{
        .submit-btn{ display: none;}
        .edit-btn{ display: flex;}
    }

    .alert{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 20px;
        position: absolute;
        z-index: 4;
        width: 600px;
        height: 300px;
        padding: 1em;
        background: $gradient-bottom-left;
       
        .body{
            width: 80%;
            height: 80%;
            margin: auto;

            p{
                font-size: 30px;
            }
        }

        .footer{
            width: 80%;
            margin: auto;
            height: 20%;
            display: flex;
            justify-content: flex-end;

            button{
                border-radius: 10px;
                padding: 1em;
                border: none;
                background-color: white;
                color: black;
                cursor: pointer;
                &:hover{
                    outline: 1px solid  black;
                }
            }
        }
    }
}

.trash{
    display: none;
    height: 800px;
    top: 13%;
    width: 320px;
    background-color: #131313;
    border: 1px solid;
    position: absolute;
    z-index: 5;
    color: white;
    h2{
        text-align: center;
        height: 8%;
        border-bottom: 1px solid;
    }
    .body{
        height: 92%;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar{ width: 10px; }
        &::-webkit-scrollbar-track{ background-color: rgba(109, 103, 103, 0.3); border-radius: 50px; }
        &::-webkit-scrollbar-thumb{ background: gray; border-radius: 50px; }
    }
    
}

.trash  {
    .infos{
        display: none;
        flex-direction: column;
        margin: auto;
        width: 80%;
        color: black;
        background-color: rgb(255, 255, 255);
        animation: appear 1s;
       
        p{
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-between;
        }
    }
    .description{   
        display: flex;
        border: 1px solid rgba(243, 242, 242, 0.3);
        width: 100%;
        border-radius: 5px;
        margin-bottom: 1%;
        animation: bounce 1s ;
        span:nth-child(2){
            min-width: 80%;
            max-width: 80%;
            text-align: center;
            word-wrap: break-word;
            cursor: default;
            span:nth-child(1), span:nth-child(2){
                display: none;
            }
        }
    
        .left, .right, .delete-task{
            display: none;
        }
    }
    .restore{
        visibility: visible;
    }
}

main .list-states-body{
    display: none;
    height: 800px;
    top: 13%;
    width: 320px;
    background-color: black;
    border: 1px solid ;
    position: absolute;
    color: white;
    z-index: 5;
    h2{
        text-align: center;
        height: 8%;
        border-bottom: 1px solid;
    }
    .body{
        padding: .3em;
        height: 92%;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar{ width: 10px; }
        &::-webkit-scrollbar-track{ background-color: rgba(109, 103, 103, 0.3); border-radius: 50px; }
        &::-webkit-scrollbar-thumb{ background: gray; border-radius: 50px; }

        div{
            padding: .3em;
            border: 1px solid rgba(255, 255, 255, 0.486);
            border-radius: 10px;
            margin-bottom: 1%;
        }
        .restore-state{
            cursor: pointer;
        }
    }
}

.show-modal{
    display: block !important;
}